form
  .alert
  fieldset
    legend Roman.js
    div.clearfix
      label(for="roman") Enter your Numbers
      div.input
        input(name="roman", type="text", id="roman", placeholder="ex. 666")
        input(type="submit", class="btn normal", value="Send 'em")

ul#display
