body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  width: auto
form
  width: 480px
  margin: 0 auto 25px
.alert
  height: 50px
a
  color: #00B7FF
.btn
  margin-left: 17px
#display
  width: auto
  height: 250px
  li
    float: left
    margin-right: 25px
    img
      height: 250px
    list-style: none
footer
  clear: both
  margin: 80px auto 0px
  text-align: center
  width: 480px

  h2
    font-size: 90%

